<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/subbudatta/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="subbudatta" />
            <add key="ClearTextPassword" value="02faaf7d201127c3ac101b55f97a0aee2aa9321c" />
        </github>
    </packageSourceCredentials>
</configuration>